@charset "UTF-8";

/*
    Paleta de cores
    #2D4471
    #AA8339
*/
* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #2D4471, #AA8339);
}

body, html {
    background-color: #2D4471;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
h1 {
    color: #86672c;
}
p {
    margin: 14px 0px;
}
#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    height: 520px;

    transition: width 0.6s, height 0.6s;
    transition-timing-function: ease;
}

section#login > #imagem {
    display: block;
    background: #2D4471 url(../imagens/foto.jpg);
    background-size: cover;
    height: 200px;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #666f81;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 7px 0px;
}
div.campo > span {
    color: rgb(238, 189, 189);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #1e2c47;
    font-size: 1em;
    width: calc(100% - 20%);
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-10px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}


form > div > input[type = submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #2D4471;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > div input[type = submit]:hover {
    background-color: #1e2c47;
}

form a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    background-color: #AA8339;
    color: #312104;
    border: 1px solid #AA8339;
    border-radius: 6px;
    text-decoration: none;
}
form  a.botao:hover {
    background-color: #a87819;
}
